<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentWPF" version="0.8.0" targetFramework="net471" />
  <package id="Fody" version="4.2.1" targetFramework="net471" developmentDependency="true" />
  <package id="ID3" version="0.6.0" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="2018.3.0" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="3.0.0" targetFramework="net471" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net471" developmentDependency="true" />
</packages>